@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
:root{
    --fonte1: Lato;
    --fonte2: "Roboto Condensed";
    --cor1: #13361E;
    --cor2: #1a532c;
    --cor4: #00b10093;
}
body{
    background-color: #B4E395;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    font-family: var(--fonte2), Arial, Helvetica, sans-serif;
}
header{
    padding: 0px 20px;
    background-image: linear-gradient(to bottom, var(--cor1), rgb(0, 134, 18), var(--cor1));
    max-width: 900px;
    text-align: left;
    margin: auto;
}
 main, footer{
    padding: 0px 20px;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    max-width: 900px;
    text-align: left;
    margin: auto;
}
nav{
    padding: 10px;
    margin-left: 5%;
    
}
nav > a{
    text-decoration: none;
    background-color: white;
    color: #1A532C;
    padding: 5px 2%;
    margin: 0px -3px;
    
}
nav>a:hover{
    transition: 0.5s;
    transition-delay: 0.1s;
    background-color: rgba(255, 255, 255, 0.692);
    
}
a#primeiro{
    border-top-left-radius: 22%;
    border-bottom-left-radius: 22%;
    
}
a#ultimo{
    border-bottom-right-radius: 22%;
    border-top-right-radius: 22%;
}
div#imgPrinc{
    position: relative;
    margin-top: 0px;
    border-radius: 2%;
    height: 420px;
    background-image: url(imagens/picture1.webp);

}
div#imgPrinc > div{
    font-size: 1.3em;
    height: 50px;
    width: 500px;
    padding-bottom: 15px;
    border-radius: 4%;
    background-color: #1a47286c;
    position: absolute;
    left: 5%;
    top: 85%;
    transform: translate(-5%, -30%);
    color: white;
}
img#imagem{
    width: 140px;

}
div#imgPrinc p{
    margin-top: 16px;
}

#divProcedencia{
    margin-top: 20px;
    background-image: url(imagens/picture4.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    height: 260px;
    width: 400px;
}

#divProcedencia > p{
    background-color: #13361e9f;
    color: white;
    top: 0px;
    width: 40%;
    margin: 10px;

}

article > p{
    display: inline;
}

#divPreparo{
    margin-top: 20px;
    background-image: url(imagens/picture5.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    height: 160px;
    width: 260px;

}

#divPreparo > div > p{
    position: absolute;
    top: 96%;
    left: 27%;
    color: white;
    background-color: #13361eb7;
    padding: 10px;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    font-size: 1.3em;
}

#divDistribuicao{
    margin-top: 20px;
    background-image: url(imagens/picture3.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    height: 160px;
    width: 260px;
}

#divDistribuicao > div > p{
    position: absolute;
    top: 125%;
    left: 27%;
    color: white;
    background-color: #13361eb7;
    padding: 10px;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    font-size: 1.3em;
}

article{
    display: inline;
}