@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root{
    --cor-1: #FF8383;
    --cor-2: #DE5E5E;
    --cor-3: #781C1C;
    --cor-4: #450A0A;
    --font-1: "Dancing Script";
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid black;
    z-index: 1;
}

nav{
    max-width: 1200px;
    margin: auto;
}   

nav ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu-item{
    padding: 30px 40px;
    list-style: none;
    
}

.menu-item a{
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    position: relative;
}

.menu-item a::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

.menu-item a:hover::after{
    width: 100%;
    left: 0%;
}

.spacing{
    height: 90px;
}

.home{
    min-height: 100vh;
    background-color: var(--cor-1);
    margin: 0 auto;
    background-image: url(images/fotoHome.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

 .conteudo{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    color: white;
    
}

.conteudo>h1{
    padding-top: 10%;
    font-size: 5rem;
    font-family: var(--font-1), cursive;
    text-shadow: 4px 4px 10px black;
}

.conteudo>p{
    font-size: 2rem;
    padding-top: 5vh;
    text-shadow: 3px 3px 5px black;
    text-transform: capitalize;
}

.estoque{
    min-height: 100vh;
}

.estoque .veiculos{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1350px;
    margin: auto;
}

.veiculos h2{
    font-family: var(--font-1), cursive;
    font-size: 4.5rem;
    color: var(--cor-4);
    text-align: center;
    padding-top: 10vh;
}

.veiculos > div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.carro{
    border-radius: 5%;
    
}

.carro img{
    width: 400px;
    height: 400px;
}

.sobre{
    min-height: 100vh;
    background-color: var(--cor-1);
}

.cooperadores{
    min-height: 100vh;
}

.contato{
    min-height: 100vh;
    background-color: var(--cor-1);
}

.box-shadow{
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.301);
}


