@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');
:root{
    --cor-1: #FF8383;
    --cor-2: #DE5E5E;
    --cor-3: #781C1C;
    --cor-4: #450A0A;
    --cor-5: #024dad;
    --font-1: "Dancing Script";
    --font-2: 'Comfortaa';
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid black;
    z-index: 1;
}

nav{
    max-width: 1200px;
    margin: auto;
}

nav input{
    visibility: hidden;
    width: 40px;
    height: 40px;
    margin: 10px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 2;
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu-item{
    padding: 30px 40px;
    list-style: none;
    
}

.menu-item a{
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    position: relative;
}

.menu-item a::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

.menu-item a:hover::after{
    width: 100%;
    left: 0%;
}

.spacing{
    height: 90px;
}

.back-image{
    background-image: url(images/fotoHome.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home{
    min-height: 100vh;
    background-color: var(--cor-1);
    margin: 0 auto;
    background-image: url(images/fotoHome.jpg);
    
}

 .conteudo{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    color: white;
    
}

.conteudo>h1{
    padding-top: 10%;
    font-size: 5rem;
    font-family: var(--font-1), cursive;
    text-shadow: 4px 4px 10px black;
}

.conteudo>p{
    font-size: 2rem;
    padding-top: 5vh;
    text-shadow: 3px 3px 5px black;
    text-transform: capitalize;
}

.estoque{
    min-height: 100vh;
}

.estoque .veiculos{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1350px;
    margin: auto;
}

.veiculos h2{
    font-family: var(--font-1), cursive;
    font-size: 4.5rem;
    color: var(--cor-4);
    text-align: center;
    padding-top: 10vh;
    text-shadow: 0px 0px 4px var(--cor-4);
}

.veiculos > div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.carro{
    border-radius: 5%;
    overflow: hidden;
    margin: 30px 0 ;
    position: relative;
}

.carro img{
    width: clamp(300px, 100%, 400px);
    height: 400px;
    border-radius: 3%;
    transition: 300ms all ease-in-out;
}

.carro .buy-car{
    width: 200px;
    height: auto;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms all ease-in-out;
    pointer-events: none;
}

.carro img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(3deg);
    filter: brightness(0.5);
}

.carro img:hover+img{
    opacity: 0.75;
    z-index: 0;
}


.sobre{
    min-height: 100vh;
    background-color: var(--cor-3);
    background-image: url(images/sobre.jpg);
    background-position: right bottom;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    line-height: 50px;
}

.sobre h3{
    font-size: 3rem;
    font-family: var(--font-2), cursive;
    color: white;
    margin-top: 25%;
    text-shadow: 4px 4px 10px black;
    text-align: center;
}

.sobre p{
    text-align: justify;
    font-size: 1.5rem;
    color: whitesmoke;
    padding-top: 5%;
    text-shadow: 2px 2px 5px black;
}

.historia{
    max-width: 800px;
    padding: 40px;
}

.objetivo{
    max-width: 800px;
    padding: 40px;
}

.cooperadores{
    min-height: 100vh;
    padding: 7%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-content: space-around;
}

.cooperadores h2{
    font-family: var(--font-2), cursive;
    font-size: 3.5rem;
    text-align: center;
}

.pessoas{
    margin: auto;
    max-width: 1400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.pessoa{
    padding: 60px 40px;
    text-align: center;
    color: var(--cor-4);
    transition: 300ms all ease-in-out;
}

.pessoa h3, .pessoa h4{
    padding: 20px 10px 10px 40px;
}

.pessoa h3{
    font-size: 1.5rem;
}

.pessoa h4{
    font-size: 1.3rem;
}

.pessoa img{
    width: 400px;
    height: auto;  
    border-radius: 50%;
}

.pessoa:hover{
    transform: scale(1.1);
    text-shadow: 0px 0px 1px var(--cor-3);
}

.pessoa:hover>img{
    box-shadow: 0px 0px 5px var(--cor-4);
}

.contato{
    min-height: 100vh;
    background-image: url(images/contato.jpg);
    background-attachment: scroll;
    text-align: center;
    border-bottom: 2px solid black;
}

.contato h2{
    font-size: 3rem;
    color: white;
    padding: 10% 0 3% 0;
}

.contato form{
    margin: auto;
    max-width: 900px;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.campo{
    padding: 30px;
}

.campo label{
    font-size: 1.4rem;
    position: absolute;
    color: white;
    opacity: 0;
    transition: 300ms all ease-in-out;
}

.campo input{
    width: clamp(250px, 100%, 60vw);
    height: auto;
    border-radius: 2%;
    outline: none;
    font-size: 1.2rem;
    padding: 5px;
    border: none;
}

.campo textarea{
    width: clamp(250px, 100%, 60vw);
    border-radius: 2%;
    outline: none;
    border: none;
    font-size: 1.2rem;
    
}

.campo:hover label, .campo:focus-within label{
    transform: translate(0, -100%);
    opacity: 1;
}

.campo:hover input, .campo:focus-within input, .campo:hover textarea, .campo:focus-within textarea{
    border-bottom: 2px solid var(--cor-5);
    border-left: 2px solid var(--cor-5);
}

form button{
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    transition: 200ms all ease-in-out;
}

form button:hover, form button:focus{
    transform: scale(1.1);
}

.box-shadow{
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.301);
}

footer{
    height: clamp(15vh, 100%, 20vh);
    background: var(--cor-4);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.social{
    display: flex;
    flex-flow: norow wrap;
}

.social-media{
    padding: 2%;
}

.social-media img{
    height: 8vh;
    width: auto;
    
}

.anotation{
    padding-right: 20px;
}

.anotation a{
    text-decoration: none;
    color: white;

}

@media (max-width: 800px){

    .cooperadores h2{
        font-size: 2rem;
    }
    
    .pessoas{
        width: 100vw;
    }

    .pessoa img{
        width: 80vw;
    }

    nav input{
        visibility: visible;
        border: none;
        background-color: none;
        
    }
    nav ul{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: white;
        width: 100vw;
        height: 100vh;
        
    }

    nav input:not(:checked)+ul{
        top: -100%;
    }
    
    .pessoa{
        padding: 0;
    }

    .pessoa h3, .pessoa h4{
        padding: 20px 0 40px 0;
    }
}
