.main-bg{
    background-image: url('../img/backgroundIMG.svg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.white-bg{
    background-color: white;
    color: #0A1128;
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem 3rem;
}

.section{
    min-height: 100vh;
}

.menu-spacing{
    height: 6.5rem;
}
body .full-width{
    width: 100%;
    flex: 1 1 100%;
}